@import "src/sass/_variables.sass";

#footer-wrapper {
    margin-top: $standardMargin * 2;
    .footer-menu {
        background-color: $primaryColor;
        color:$whiteColor;
        padding: $standardPadding;
        box-sizing: border-box;
        a {
            color: $whiteColor;
        }
        span {
            padding-right: 0.5em;
            font-weight: bold;
        }
        .register-widget {
            .form-register {
                #email {
                    width: 16.3em;
                }
            }
        }
        .facebook-widget {
            a {
                display: block;
                width: 100%;
                text-transform: uppercase;
                font-weight: bold;
            }
        }
    }
    .footer-widget {
        padding:1em 0;
        box-sizing: border-box;
        .widget-about {
            .box-logo {
                margin-bottom: 1em;
                a {
                    display: block;
                    text-align: center;
                    width: 13em;
                    margin: 0 auto;
                    img {
                        vertical-align: middle;
                        width: 100%;
                    }
                }
            }
        }
        .widget-apps {
            .text-header {
                color:$primaryColor;
                font-weight: bold;
                font-size: 1.1em;
            }
            .widget-body {
                display: block;
                overflow: hidden;
                a {
                    display: block;
                    img {
                        width:60%;
                        height: auto;
                        margin: 0 auto;
                        display: block;
                    }
                }
            }
        }
        .widget-menu {
            .nav-item {
                a {
                    color: $primaryColor;
                    padding: 0.5em;
                    font-weight: bold;
                    &:hover {
                        background-color: $primaryColor;
                        color:#fff;
                    }
                    svg {
                        margin-right: 0.5em;
                        font-size: 1.3em;
                    }
                }
            }
        }
    }
}
